nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -2em;
    margin-top: -.5em;
}

button {
    margin: 1em 0 0 0;
}

article {
    border: solid .1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

h3 {
    text-align: center;
    align-content: center;
}

h4 {
    border-bottom: solid;
}

.footer {
    line-height: 0;
    text-align: left;
    padding: 0 1em 0;
}

.footer a {
    border: none;
    padding: 0;
    margin: none;
}

.footer p {
    font-size: .6em;
    line-height: .7em;
}
